.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #fff;
    border-bottom: 1px solid #dbdbdb;
  }
  
  .headerLogo {
    height: 40px;
  }
  
  .headerSearch {
    padding: 5px 10px;
    border: 1px solid hsl(0, 0%, 86%);
    border-radius: 10px;
  }
  
  .headerIcons {
    display: flex;
    gap: 15px;
  }
  