.modal {
  display: flex;
  align-items: center;
  justify-content: center;
}

.modalContent {
  background-color: #222;
  color: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  width: 400px;
}

.modalTitle {
  margin-bottom: 20px;
  font-weight: bold;
}

.uploadArea {
  background-color: #333;
  border: 2px dashed #555;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
}

.uploadIcon {
  font-size: 50px;
  color: white;
  margin-bottom: 20px;
}

.uploadText {
  font-size: 18px;
  color: #aaa;
  margin-bottom: 20px;
}

.uploadButton {
  background-color: #007bff;
  color: white;
}

.openButton {
  background-color: #007bff;
  color: white;
  margin: 20px;
}


.uploadIcon {
    background: #ffffff;
    border: 1px solid #c8c8c8;
    border-radius: 4px;
    margin-top: var(--px-16);
    padding: var(--px-16);
    width: 100%;
    font-weight: 400;
    font-size: var(--px-16);
    line-height: var(--px-17);
    letter-spacing: 0.5px;
    text-transform: none;
    color: #4f4f4f;
  }
  
  .uploadIconDisabled {
    background: #ededed;
    border: 1px solid #ededed;
    border-radius: 4px;
    margin-top: var(--px-16);
    padding: var(--px-16);
    width: 100%;
    font-weight: 400;
    font-size: var(--px-16);
    line-height: var(--px-17);
    letter-spacing: 0.5px;
    text-transform: none;
    color: #a0a0a0;
  }
  
  .fileSelector {
    margin-top: var(--px-8);
    padding: var(--px-32);
    justify-content: space-between;
    display: flex;
    border: 1px solid #c8c8c8;
  }
  
  .fileErrorMsg {
    color: #d32f2f;
    font-weight: 400;
    font-size: var(--px-12);
    margin-left: var(--px-14);
    margin-right: var(--px-14);
  }
  
  .fileDeleteBox {
    display: flex;
    font-size: var(--px-16);
    font-weight: 700;
    align-items: center;
    gap: var(--px-8);
    color: #008d75;
  }
  
  .iconSize {
    font-size: var(--px-24);
  }
  
  .uploadedContainer {
    display: flex;
    flex-direction: column;
    gap: var(--px-8);
  }
  
  .uploadTextTitle {
    font-weight: 700;
    font-size: var(--px-14);
    line-height: var(--px-14);
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: #191f1c;
  }
  
  .uploadFileName {
    font-weight: 400;
    font-size: var(--px-16);
    line-height: var(--px-17);
    letter-spacing: 0.5px;
    color: #4f4f4f;
    padding: 0;
    text-transform: inherit;
  }
  
  .uploadFileName:hover {
    text-decoration: underline;
    background-color: #ffffff;
  }
  
  .attachmentContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: var(--px-32);
    gap: var(--px-8);
    width: 100%;
    margin-top: var(--px-8);
    border: 1px solid #c8c8c8;
  }
  
  .progressBarContainer {
    width: clamp(20.71875rem, 27.625vw, 27.625rem);
    height: var(--px-12);
    background: #f9f9f9;
    border: 1px solid #c8c8c8;
    border-radius: var(--px-48);
  }
  