.profileContainer {
    max-width: 935px;
    margin: 0 auto;
    padding: 20px;
    background-color: #000; /* Black background */
    color: #fff; /* White text */
  }
  
  .profileHeader {
    display: flex;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid #333; /* Dark gray border */
  }
  
  .profileImageContainer {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 20px;
    position: relative;
  }
  
  .profileImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .profileInfo {
    flex: 1;
  }
  
  .usernameRow {
    display: flex;
    align-items: center;
  }
  
  .username {
    font-size: 24px;
    font-weight: bold;
    margin-right: 20px;
  }
  
  .profileButton {
    margin-right: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    background-color: #444; /* Gray button */
    color: #fff;
    cursor: pointer;
  }
  
  .profileButton:hover {
    background-color: #2f2c2c; 
  }
  
  .profileStats {
    display: flex;
    align-items: center;
    margin: 20px 0;
  }
  
  .stat {
    margin-right: 20px;
  }
  
  .profileBio {
    font-size: 14px;
    color: #ccc; /* Lighter gray for bio */
  }
  
  .newPostContainer {
    margin-top: 20px;
  }
  
  .newPostButton {
    background-color: transparent;
    border: none;
    color: #fff;
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  
  .plusIcon {
    font-size: 30px;
    margin-right: 10px;
    background-color: #444; /* Button background */
    border-radius: 50%;
    padding: 5px 10px;
  }
  
  .newPostButton span {
    font-size: 16px;
  }
  